/*------Css general------*/
body{
	background-image: url('/ani-grenoble/site/web/image/Background_Haut.png'),
	url('/ani-grenoble/site/web/image/Background_Bas.png');
	background-repeat: no-repeat, repeat;
	background-size: contain, contain;
}

h1{
	font-size: 3.2rem;
	text-align: center;
}

h2{
	font-size: 2.2rem;
	text-align: center;
}

h3{
	font-size: 1.80rem;
}

h2.h2-index{
	font-size: 1.8rem;
	text-align: center;
}

a{
	color: #EE6E73;
	text-decoration: none;
}

a:hover{
	color: #EE6E73;
}

footer.page-footer {
    margin-top: 0px;
}

.back-ground-blanc{
	background-color: #ffffff;
	padding: 20px 40px;
}

@media only screen and (max-width: 450px){
	.back-ground-blanc{
		padding: 20px 0px;
	}

	.container .row {
    	margin-left: 0rem;
    	margin-right: 0rem;
	}
}

/*------Page accueil------*/
.nav-wrapper ul.hide-on-med-and-down a{
	color: #ffffff;
}

.nav-wrapper ul.hide-on-med-and-down a:hover{
	color: #f9f9f9;
}

.card-action a{
	color: #EE6E73 !important;
}

.brand-logo{
	position: relative !important;
    width: 160px;
    top: -6px;
    left: 2px;
}

.brand-logo img{
	width: 160px;
	height:auto;
}

.div-evenement{
	margin-bottom: 10px;
}

.card .card-title {
    font-size: 18px;
}


/*------A-propos------*/
.qui-sommes-nous-a-propos .phrase-japonnaise{
	font-size: 1.5rem;
	font-weight: 300;
}
.activites-reunions-hebdomadaires-a-propos img, .affiches-soirees-speciales-a-propos img{
	width: 80%;
    height: auto;
}

.activites-reunions-hebdomadaires-a-propos{
	text-align: center;
	padding-top: 10px;
}

.activites-reunions-hebdomadaires-a-propos p{
	font-size: 1.1rem;
	letter-spacing: 1px;
    font-weight: bold;
}

.reunions-hebdomadaires-a-propos, .derniere-row-a-propos{
	background-color: #f1f1f1;
	padding: 20px 20px;
	margin-bottom: 40px;
}

.affiches-soirees-speciales-a-propos{
	padding-top: 20px;
}

.affiches-soirees-speciales-a-propos p{
	text-align: center;
}


/*------Contact------*/
.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 50% !important;
}