{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Ajout article - {{ parent() }}{% endblock %}

{% block head %}{{ parent() }}{% endblock %}

{% block site_body %}	
		<h1>A propos</h1>
	<div class="row">
		<div class="col s12">
			<h2>Qui sommes-nous ?</h2>
			<p>Crée depuis 2013, Ani-Grenoble est une association grenobloise intéressé par la "Culture Populaire Japonaise". Elle est essentiellement constituée d'étudiants passionnés.</p>
		</div>
	</div>
	<div class="row">
		<div class="col s12">
			<h2>Que faisons-nous ?</h2>
			<p>Durant nos réunions hebdomadaire de 2 heures nous regardons des Animes ensemble sur grand écran généralement en japonais avec des sous-titres en français soit en anglais. Par la suite nous faisons d'autres activités en réstant, biensûr, sur le thème du Japon tels que :</p>
			
        	<div class="card-image">
          		<img src="https://lh5.ggpht.com/CfLSYTQZ776-LsbZw0Ycn3_3UGNeH6jcs5G96bVxVp9BE4tFHy6drB-pNT4z2C3nw_A=w300">
          		<span class="card-title">Quizz</span>
        	</div>
		
        	<div class="card-image">
          		<img src="http://orig03.deviantart.net/b6c1/f/2015/247/9/0/danshi_koukousei_no_nichijou_presentation_by_yusatsunao-d98b95j.png">
          		<span class="card-title">Présentation/exposés</span>
        	</div>
        
        	<div class="card-image">
          		<img src="http://ak2.polyvoreimg.com/cgi/img-set/cid/165324722/id/uJuKZeoX5RGxtr5ttfvecw/size/y.jpg">
          		<span class="card-title">Cosplay</span>
        	</div>
        
        	<div class="card-image">
          		<img src="http://animefanatika.co.za/afwp/wp-content/uploads/2015/12/karakoke-crazy.jpg">
          		<span class="card-title">karaoke</span>
        	</div>
        
        	<div class="card-image">
          		<img src="http://www.zoids-anime.net/wp-content/uploads/2014/10/anime-games.jpg">
          		<span class="card-title">Jeux vidéos japonais</span>
        	</div>
        
        	<div class="card-image">
          		<img src="https://i.ytimg.com/vi/92Ov2OxkpPE/maxresdefault.jpg">
          		<span class="card-title">Visual Novel</span>
        	</div>	            
		</div>
	</div>
	<div class="row">
	<p>Nous sommes ouvert à toutes personnes quelles soient étudiante ou non et si cela vous intéresse, n'hésitez pas à <a href="#">nous rejoindre!</a></p>
	<p>Les membres de l'ANI Grenoble. </p>
	</div>

{% endblock %}