{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Ajout article - {{ parent() }}{% endblock %}

{% block head %}{{ parent() }}{% endblock %}

{% block site_body %}
	<h2>Ajouter un article</h2>

  	{{ include("AniGrenobleAppBundle:Default:form.html.twig") }}

{% endblock %}