{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Contact - {{ parent() }}{% endblock %}

{% block head %}{{ parent() }}{% endblock %}

{% block site_body %}	
	<h1>Contact</h1>

	<div class="back-ground-blanc">
		<div class="row">
		  	<div class="google-maps">
		  		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5623.608869422848!2d5.7644946!3d45.1910549!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x478af5082e7c56bb%3A0xd67a6f3be2ec788c!2sEVE+-+Espace+Vie+Etudiante!5e0!3m2!1sfr!2sfr!4v1477247716341" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
		  	</div>
		  	<p>Nous nous retrouvons tous les lundis, de <b>18:00 à 20:00</b> à <a target="_blank" href="http://www.eve-grenoble.fr/">EVE</a> (Espace Vie Étudiante) situé sur le campus universitaire de Grenoble.</p>
		</div>

	  	
	</div>
{% endblock %}