{% extends "AniGrenobleAppBundle:Include:layout.html.twig" %}

{% block title %}Ajout article - {{ parent() }}{% endblock %}

{% block head %}{{ parent() }}{% endblock %}

{% block site_body %}
	<h2>Modifier un résumé de réunion hébdomadaire ou un evenement</h2>
<div class="back-ground-blanc">
  	{{ include("AniGrenobleAppBundle:Default:form.html.twig") }}

  	<p>
    	<a href="{{ path('ani_grenoble_app_homepage') }}" class="btn btn-secondary"><i class="glyphicon glyphicon-chevron-left"></i>Annuler</a>
  	</p>
</div>

{% endblock %}