{% extends "::base.html.twig" %}

{% block title %}Ani-grenoble{% endblock %}
{% block body %}
	{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
	{% block site_body %} 	
		<a href="#" class="back-to-top"></a>			
	{% endblock %}
		
{% endblock %}